# Pandas

Read the following files:

- CSV
- TXT
- XLSX

In [37]:
import pandas as pd

# Read the dataset
df = pd.read_csv('Book1.csv')
print(df.tail(3))

  Name  Height  Marks  Class       City
0  ABC     5.0     98     10        Ahm
1  XYZ     5.5     97     11     Baroda
2  MNO     6.0     90     12  Bhavnagar

In [38]:
import pandas as pd

# Read the dataset
df = pd.read_csv('/Users/apple/Coded/College/Python/Lab/Book1.csv')
print(df.head(2))

  Name  Height  Marks  Class    City
0  ABC     5.0     98     10     Ahm
1  XYZ     5.5     97     11  Baroda

In [39]:
df1 = pd.read_excel('Book1.xlsx')
print(df1.head(1))

  Name  Height  Marks  Class City
0  ABC     5.0     98     10  Ahm

In [40]:
df1 = pd.read_excel('/Users/apple/Coded/College/Python/Lab/Book1.xlsx')
print(df1.tail(2))

  Name  Height  Marks  Class       City
1  XYZ     5.5     97     11     Baroda
2  MNO     6.0     90     12  Bhavnagar

In [41]:
df2 = pd.read_csv('Book1.txt', sep=',')
print(df2.tail(1))

  Name  Height  Marks  Class       City
2  MNO     6.0     90     12  Bhavnagar

In [42]:
df2 = pd.read_csv('/Users/apple/Coded/College/Python/Lab/Book1.txt', sep=',')
print(df2.head(3))

  Name  Height  Marks  Class       City
0  ABC     5.0     98     10        Ahm
1  XYZ     5.5     97     11     Baroda
2  MNO     6.0     90     12  Bhavnagar