# Pandas

Pandas has two data structures:

- Series:
  - 
- DataFrame

In [6]:
import pandas as pd
a = ["Red","Bllue","Orange"]
s = pd.Series(a,index=["A","B","C"])
s[0:2]

A      Red
B    Bllue
dtype: object

In [7]:
b = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(b,index=["A","B","C"],columns=["A","B","C"],dtype=float)
df

     A    B    C
A  1.0  2.0  3.0
B  4.0  5.0  6.0
C  7.0  8.0  9.0

In [8]:
c = [[5,98,10,"Ahm"],[5.5,97,11,"Baroda"],[6,80,12,"Bhavnagar"]]
df1 = pd.DataFrame(c,columns=["Height","Marks","Class","City"],index=["ABC","XYZ","MNO"])
df1

     Height  Marks  Class       City
ABC     5.0     98     10        Ahm
XYZ     5.5     97     11     Baroda
MNO     6.0     80     12  Bhavnagar

In [12]:
data1 = pd.read_csv("Book1.csv")
data2 = pd.read_excel("Book1.xlsx")
# data = pd.read_csv("Book1.txt", sep='')
print(data1,data2)

  Name  Height  Marks  Class       City
0  ABC     5.0     98     10        Ahm
1  XYZ     5.5     97     11     Baroda
2  MNO     6.0     90     12  Bhavnagar   Name  Height  Marks  Class       City
0  ABC     5.0     98     10        Ahm
1  XYZ     5.5     97     11     Baroda
2  MNO     6.0     90     12  Bhavnagar